SECRET_KEY=ornek-anahtar-buraya-yazilir
ACCESS_TOKEN_EXPIRE_MINUTES=30
MODEL_GARDEN_BASE_URL=MODEL_GARDEN_BASE_URL
MODEL_GARDEN_USERNAME=ornek-kullanici
MODEL_GARDEN_PASSWORD=password
CHAT_MODEL=CHAT_MODEL